{% extends "auth_base.html" %}

{% block title %}Inscription{% endblock %}

{% block auth_title %}
Créer un compte
{% endblock %}

{% block content %}

<form method="POST" action="{{ url_for('main.inscription') }}" class="space-y-4">

    {{ form.hidden_tag() }}

    <div>
        {{ form.nom.label(class="block text-xs font-bold text-gray-400 uppercase mb-2") }}
        {{ form.nom(
            class="w-full px-4 py-3 bg-gray-50 border border-gray-200 text-sm rounded-xl focus:outline-none focus:ring-2 focus:ring-[#0f172a] focus:border-[#0f172a] transition",
            placeholder="Votre nom"
        ) }}
        {% for error in form.nom.errors %}
            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        {{ form.email.label(class="block text-xs font-bold text-gray-400 uppercase mb-2") }}
        {{ form.email(
            class="w-full px-4 py-3 bg-gray-50 border border-gray-200 text-sm rounded-xl focus:outline-none focus:ring-2 focus:ring-[#0f172a] focus:border-[#0f172a] transition",
            placeholder="votre@email.com"
        ) }}
        {% for error in form.email.errors %}
            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    <div>
        {{ form.mot_de_passe.label(class="block text-xs font-bold text-gray-400 uppercase mb-2") }}
        {{ form.mot_de_passe(
            class="w-full px-4 py-3 bg-gray-50 border border-gray-200 text-sm rounded-xl focus:outline-none focus:ring-2 focus:ring-[#0f172a] focus:border-[#0f172a] transition",
            placeholder="••••••••"
        ) }}
        {% for error in form.mot_de_passe.errors %}
            <p class="text-red-500 text-sm mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    {{ form.submit(
        class="w-full py-3 px-4 mt-2 bg-[#0f172a] hover:bg-[#1e293b] text-white font-bold rounded-xl transition cursor-pointer shadow-md"
    ) }}

</form>

<p class="text-center text-sm text-gray-500 mt-6">
    Déjà un compte ?
    <a href="{{ url_for('main.login') }}"
       class="font-semibold text-[#0f172a] hover:underline">
       Se connecter
    </a>
</p>

{% endblock %}